.metaslist{
  list-style-type: none;
  background-color:rgb(229,80,57,0.7);
  padding: 10px;
  margin:auto;
  width: 50%
}
.meta{
  background-color:rgb(248,194,145,0.5);
  margin: 10px;
  padding:5px;
  text-align: center
}
.meta1{
  background-color:rgb(248,194,145,1);
  margin: 10px;
  padding:5px;
  text-align: center;
}
