.social{
  list-style-type: none;
  display: flex;
  text-align:center;
  width:80%;
  margin:auto;
}
.social1{
  list-style-type: none;
  display: flex;
  text-align:center;
  width:55%;
  margin:auto;
}
.redsocial{
  background-color: rgb(229,80,57,0.7);
  padding:20px;
  margin:auto;
}
.redsocialimg{
  width:150px;
  background-color:#f8c291;
  padding:15px
}
