.uwu{
  background-color: rgb(229,80,57,0.7);
  width: 35%;
  margin:auto;
  display: flex;
  padding: 15px
}
.zona{
  display:block;
  background-color: rgb(248,194,145,0.7);
  text-align: center;
  width: 100%;
}
